html {
  scroll-behavior: smooth;
}
#projects {
  background-color: #343A40;
  color: aliceblue;
}

body {
  background-color: beige;
}

.carousel-caption {
  font-size: 2rem;
}

.box {
  position: relative;
  text-align: center;
  color: white;
}

#main-text-centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}